html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-image: url("/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  color: rgb(119, 71, 71);
  border: none;
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 5px;
}

button.cta {
  background-color: rgb(160, 95, 57);
  white-space: nowrap;
}
